/*nullstyle*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/
@font-face {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500&display=swap");
}
@font-face {
  font-family: "Helios";
  src: local("Helios Regular"), local("Helios-Regular"), url("./../fonts/Helios/HeliosC.woff2") format("woff2"), url("./../fonts/Helios/HeliosC.woff") format("woff"), url("./../fonts/Helios/HeliosC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham Light"), local("Gotham-Light"), url("./../fonts/Gotham/Gotham-Light.woff2") format("woff2"), url("./../fonts/Gotham/Gotham-Light.woff") format("woff"), url("./../fonts/Gotham/Gotham-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham Medium"), local("Gotham-Medium"), url("./../fonts/Gotham/Gotham-Medium.woff2") format("woff2"), url("./../fonts/Gotham/Gotham-Medium.woff") format("woff"), url("./../fonts/Gotham/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Haettenschweiler Regular";
  src: url("./../fonts/Haettenschweiler/18324_haetten.eot");
  src: local("Haettenschweiler Regular"), local("Haettenschweiler-Regular"), url("./../fonts/Haettenschweiler/18324_haetten.woff") format("woff"), url("./../fonts/Haettenschweiler/Haettenschweiler-Regular.ttf") format("truetype"), url("./../fonts/Haettenschweiler/18324_haetten.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
/* experimental */
/*  / experimental */
/* Variables */
/* Breakpoints*/
html {
  font-size: 11px;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
}

.container {
  width: min(131rem, 100% - 4rem);
  margin-inline: auto;
}
@media (min-width: 72em) {
  .container {
    width: min(131rem, 100% - 27.1rem);
  }
}
.container[data-type=about-us-page] {
  text-align: center;
}

.even-columns {
  display: grid;
  gap: 1rem;
}
@media (min-width: 50emem) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.button {
  cursor: pointer;
  display: block;
  margin-inline: auto;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, #eb9562 0%, #e0cfa7 148.54%);
  box-shadow: 1.85106px 1.85106px 1.85106px rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 1.2;
  color: #FFFFFF;
  border-radius: 100vmax;
  padding: 1em 2.5em;
}
.button[data-type=header] {
  background: linear-gradient(90deg, #e0cfa7 0%, #eb9562 148.54%);
}
.button:hover, .button:focus-visible {
  background: linear-gradient(90deg, #eb9562 0%, #e0cfa7 148.54%);
}

.closed {
  display: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0;
}

.section-title {
  font-family: "Helios";
  font-style: normal;
  font-weight: 400;
  font-size: 2.82rem;
  line-height: 1.16;
  letter-spacing: 0.1em;
  text-align: center;
  color: #8d3500;
}

/* Utility classes*/
.text-primary-400 {
  color: #000000;
}

.text-accent-400 {
  color: #eb9562;
}

.fw-bold {
  font-weight: 700;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 400;
}

.text-100 {
  font-size: 8px;
}

@media (min-width: 412px) {
  .text-100-small {
    font-size: 8px;
  }
}
@media (min-width: 768px) {
  .text-100-medium {
    font-size: 8px;
  }
}
@media (min-width: 1024px) {
  .text-100-large {
    font-size: 8px;
  }
}
.text-150 {
  font-size: 9px;
}

@media (min-width: 412px) {
  .text-150-small {
    font-size: 9px;
  }
}
@media (min-width: 768px) {
  .text-150-medium {
    font-size: 9px;
  }
}
@media (min-width: 1024px) {
  .text-150-large {
    font-size: 9px;
  }
}
.text-200 {
  font-size: 10px;
}

@media (min-width: 412px) {
  .text-200-small {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .text-200-medium {
    font-size: 10px;
  }
}
@media (min-width: 1024px) {
  .text-200-large {
    font-size: 10px;
  }
}
.text-250 {
  font-size: 11px;
}

@media (min-width: 412px) {
  .text-250-small {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  .text-250-medium {
    font-size: 11px;
  }
}
@media (min-width: 1024px) {
  .text-250-large {
    font-size: 11px;
  }
}
.text-300 {
  font-size: 13px;
}

@media (min-width: 412px) {
  .text-300-small {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .text-300-medium {
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  .text-300-large {
    font-size: 13px;
  }
}
.text-350 {
  font-size: 15px;
}

@media (min-width: 412px) {
  .text-350-small {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .text-350-medium {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .text-350-large {
    font-size: 15px;
  }
}
.text-400 {
  font-size: 16px;
}

@media (min-width: 412px) {
  .text-400-small {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .text-400-medium {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .text-400-large {
    font-size: 16px;
  }
}
.text-450 {
  font-size: 18px;
}

@media (min-width: 412px) {
  .text-450-small {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .text-450-medium {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .text-450-large {
    font-size: 18px;
  }
}
.text-500 {
  font-size: 20px;
}

@media (min-width: 412px) {
  .text-500-small {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .text-500-medium {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .text-500-large {
    font-size: 20px;
  }
}
.text-550 {
  font-size: 24px;
}

@media (min-width: 412px) {
  .text-550-small {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .text-550-medium {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .text-550-large {
    font-size: 24px;
  }
}
.text-600 {
  font-size: 26px;
}

@media (min-width: 412px) {
  .text-600-small {
    font-size: 26px;
  }
}
@media (min-width: 768px) {
  .text-600-medium {
    font-size: 26px;
  }
}
@media (min-width: 1024px) {
  .text-600-large {
    font-size: 26px;
  }
}
.text-650 {
  font-size: 30px;
}

@media (min-width: 412px) {
  .text-650-small {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .text-650-medium {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .text-650-large {
    font-size: 30px;
  }
}
.text-700 {
  font-size: 34px;
}

@media (min-width: 412px) {
  .text-700-small {
    font-size: 34px;
  }
}
@media (min-width: 768px) {
  .text-700-medium {
    font-size: 34px;
  }
}
@media (min-width: 1024px) {
  .text-700-large {
    font-size: 34px;
  }
}
.text-750 {
  font-size: 40px;
}

@media (min-width: 412px) {
  .text-750-small {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .text-750-medium {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .text-750-large {
    font-size: 40px;
  }
}
.text-800 {
  font-size: 43px;
}

@media (min-width: 412px) {
  .text-800-small {
    font-size: 43px;
  }
}
@media (min-width: 768px) {
  .text-800-medium {
    font-size: 43px;
  }
}
@media (min-width: 1024px) {
  .text-800-large {
    font-size: 43px;
  }
}
.text-850 {
  font-size: 50px;
}

@media (min-width: 412px) {
  .text-850-small {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  .text-850-medium {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .text-850-large {
    font-size: 50px;
  }
}
.text-900 {
  font-size: 56px;
}

@media (min-width: 412px) {
  .text-900-small {
    font-size: 56px;
  }
}
@media (min-width: 768px) {
  .text-900-medium {
    font-size: 56px;
  }
}
@media (min-width: 1024px) {
  .text-900-large {
    font-size: 56px;
  }
}
.text-950 {
  font-size: 60px;
}

@media (min-width: 412px) {
  .text-950-small {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  .text-950-medium {
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  .text-950-large {
    font-size: 60px;
  }
}
.text-980 {
  font-size: 100px;
}

@media (min-width: 412px) {
  .text-980-small {
    font-size: 100px;
  }
}
@media (min-width: 768px) {
  .text-980-medium {
    font-size: 100px;
  }
}
@media (min-width: 1024px) {
  .text-980-large {
    font-size: 100px;
  }
}
.text-990 {
  font-size: 109px;
}

@media (min-width: 412px) {
  .text-990-small {
    font-size: 109px;
  }
}
@media (min-width: 768px) {
  .text-990-medium {
    font-size: 109px;
  }
}
@media (min-width: 1024px) {
  .text-990-large {
    font-size: 109px;
  }
}
.grid {
  display: grid;
}

.grid-justify-center {
  display: grid;
  justify-content: center;
}

.grid-align-center {
  display: grid;
  align-items: center;
}

.grid-center-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.grid-align-flex-end {
  display: grid;
  align-items: flex-end;
}

.grid-center-flex-end {
  display: grid;
  justify-content: center;
  align-items: flex-end;
}

.grid-align-flex-start {
  display: grid;
  align-items: flex-start;
}

.grid-center-flex-start {
  display: grid;
  justify-content: center;
  align-items: flex-start;
}

.grid-justify-space-between {
  display: grid;
  justify-content: space-between;
}

.grid-align-center {
  display: grid;
  align-items: center;
}

.grid-space-between-center {
  display: grid;
  justify-content: space-between;
  align-items: center;
}

.grid-align-flex-end {
  display: grid;
  align-items: flex-end;
}

.grid-space-between-flex-end {
  display: grid;
  justify-content: space-between;
  align-items: flex-end;
}

.grid-align-flex-start {
  display: grid;
  align-items: flex-start;
}

.grid-space-between-flex-start {
  display: grid;
  justify-content: space-between;
  align-items: flex-start;
}

.grid-justify-space-around {
  display: grid;
  justify-content: space-around;
}

.grid-align-center {
  display: grid;
  align-items: center;
}

.grid-space-around-center {
  display: grid;
  justify-content: space-around;
  align-items: center;
}

.grid-align-flex-end {
  display: grid;
  align-items: flex-end;
}

.grid-space-around-flex-end {
  display: grid;
  justify-content: space-around;
  align-items: flex-end;
}

.grid-align-flex-start {
  display: grid;
  align-items: flex-start;
}

.grid-space-around-flex-start {
  display: grid;
  justify-content: space-around;
  align-items: flex-start;
}

.grid-justify-space-evenly {
  display: grid;
  justify-content: space-evenly;
}

.grid-align-center {
  display: grid;
  align-items: center;
}

.grid-space-evenly-center {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
}

.grid-align-flex-end {
  display: grid;
  align-items: flex-end;
}

.grid-space-evenly-flex-end {
  display: grid;
  justify-content: space-evenly;
  align-items: flex-end;
}

.grid-align-flex-start {
  display: grid;
  align-items: flex-start;
}

.grid-space-evenly-flex-start {
  display: grid;
  justify-content: space-evenly;
  align-items: flex-start;
}

.grid-justify-right {
  display: grid;
  justify-content: right;
}

.grid-align-center {
  display: grid;
  align-items: center;
}

.grid-right-center {
  display: grid;
  justify-content: right;
  align-items: center;
}

.grid-align-flex-end {
  display: grid;
  align-items: flex-end;
}

.grid-right-flex-end {
  display: grid;
  justify-content: right;
  align-items: flex-end;
}

.grid-align-flex-start {
  display: grid;
  align-items: flex-start;
}

.grid-right-flex-start {
  display: grid;
  justify-content: right;
  align-items: flex-start;
}

.grid-justify-left {
  display: grid;
  justify-content: left;
}

.grid-align-center {
  display: grid;
  align-items: center;
}

.grid-left-center {
  display: grid;
  justify-content: left;
  align-items: center;
}

.grid-align-flex-end {
  display: grid;
  align-items: flex-end;
}

.grid-left-flex-end {
  display: grid;
  justify-content: left;
  align-items: flex-end;
}

.grid-align-flex-start {
  display: grid;
  align-items: flex-start;
}

.grid-left-flex-start {
  display: grid;
  justify-content: left;
  align-items: flex-start;
}

.grid-justify-end {
  display: grid;
  justify-content: end;
}

.grid-align-center {
  display: grid;
  align-items: center;
}

.grid-end-center {
  display: grid;
  justify-content: end;
  align-items: center;
}

.grid-align-flex-end {
  display: grid;
  align-items: flex-end;
}

.grid-end-flex-end {
  display: grid;
  justify-content: end;
  align-items: flex-end;
}

.grid-align-flex-start {
  display: grid;
  align-items: flex-start;
}

.grid-end-flex-start {
  display: grid;
  justify-content: end;
  align-items: flex-start;
}

.flex {
  display: flex;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align-flex-end {
  display: flex;
  align-items: flex-end;
}

.flex-center-flex-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-align-flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-center-flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-align-flex-end {
  display: flex;
  align-items: flex-end;
}

.flex-space-between-flex-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-align-flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-space-between-flex-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-justify-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-align-flex-end {
  display: flex;
  align-items: flex-end;
}

.flex-space-around-flex-end {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-align-flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-space-around-flex-start {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-justify-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space-evenly-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-align-flex-end {
  display: flex;
  align-items: flex-end;
}

.flex-space-evenly-flex-end {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.flex-align-flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-space-evenly-flex-start {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.flex-justify-right {
  display: flex;
  justify-content: right;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-right-center {
  display: flex;
  justify-content: right;
  align-items: center;
}

.flex-align-flex-end {
  display: flex;
  align-items: flex-end;
}

.flex-right-flex-end {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.flex-align-flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-right-flex-start {
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.flex-justify-left {
  display: flex;
  justify-content: left;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-left-center {
  display: flex;
  justify-content: left;
  align-items: center;
}

.flex-align-flex-end {
  display: flex;
  align-items: flex-end;
}

.flex-left-flex-end {
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.flex-align-flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-left-flex-start {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.flex-justify-end {
  display: flex;
  justify-content: end;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-end-center {
  display: flex;
  justify-content: end;
  align-items: center;
}

.flex-align-flex-end {
  display: flex;
  align-items: flex-end;
}

.flex-end-flex-end {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.flex-align-flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-end-flex-start {
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

:where(.flow :not(:first-child)) {
  margin-top: 2.36rem;
}
:where(.flow :not(:first-child))[data-spacing="100"] {
  margin-top: 0.2rem;
}
:where(.flow :not(:first-child))[data-spacing="300"] {
  margin-top: 1.64rem;
}

.header {
  text-align: center;
}
.header[data-type=primary] {
  background-image: url("./../images/header/main-pict.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header[data-type=secondary] .header__top {
  background-color: rgba(0, 0, 0, 0.55);
  padding-inline: 2rem;
  padding-block: 1rem;
}
.header[data-type=secondary] .header__top .menu__icon {
  top: 2.1rem;
}
.header[data-type=secondary] .header__top .menu__list._active {
  top: 4.2rem;
}

.header__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.8rem;
  margin-bottom: 1.4rem;
}
.header__title {
  font-family: "Haettenschweiler Regular";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(2.36rem, 8vw, 9.909rem);
  line-height: 1.154;
  letter-spacing: 0.1em;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 2.18rem;
}
.header .menu__icon {
  z-index: 9999;
  position: fixed;
  right: 1.82rem;
  top: 2.8rem;
  display: block;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
@media (min-width: 72em) {
  .header .menu__icon {
    display: none;
  }
}
.header .menu__list {
  display: block;
  position: fixed;
  transform: translateX(100%);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2.64rem;
  line-height: 1.172;
}
.header .menu__list * {
  color: #ffffff;
}
@media (min-width: 72em) {
  .header .menu__list {
    display: flex;
    justify-content: space-between;
  }
}
.header .menu__list._active {
  z-index: 1001;
  display: block;
  position: fixed;
  padding: 1.55rem 2.64rem 0 1.9rem;
  top: 5.18rem;
  right: -0.73rem;
  height: calc(100% - 57px - 28px);
  background: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 43.8464px;
  border-bottom-left-radius: 43.8464px;
  box-shadow: -8px -28px #562000, -8px 28px #562000;
  transform: translateX(0%);
  transition: 500ms ease transform;
  font-size: 1.45rem;
  line-height: 1.172;
}
.header .menu__list._active > li {
  border: 0.454106px solid #8d3500;
  border-radius: 8.17391px;
  padding: 5px 3px;
}
.header .menu__list._active > li + li {
  margin-top: 25px;
}
.header .menu__list._active a {
  color: #000000;
}
@media (min-width: 72em) {
  .header .menu__list._active {
    display: none;
  }
}
.header__button {
  display: inline-block;
  padding-block: 1.64rem;
  padding-inline: 3.64rem;
  font-weight: 700;
  font-size: 0.84rem;
  margin-bottom: 1.1rem;
}
@media (min-width: 72em) {
  .header__button {
    font-size: 1.82rem;
    padding-block: 3.45rem;
    padding-inline: 8.18rem;
  }
}

.footer {
  font-weight: 300;
  font-size: 0.82rem;
  line-height: 1.22;
  margin-top: 2.6rem;
}
.footer * {
  color: #ffffff;
}
.footer__wrapper {
  padding-block: 1rem;
  display: grid;
  grid-template-rows: 1fr -webkit-min-content -webkit-min-content;
  grid-template-rows: 1fr min-content min-content;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 1.85rem;
       column-gap: 1.85rem;
  row-gap: 1.24rem;
  place-items: center;
  text-align: center;
}
.footer__tel {
  display: block;
}
.footer__mail {
  grid-column: span 3;
  font-size: 1rem;
  line-height: 1.18;
}
.footer__socials {
  margin-top: 0.64rem;
  grid-row: 2;
  grid-column: span 3;
}

.socials {
  display: flex;
  -moz-column-gap: 1.1rem;
       column-gap: 1.1rem;
}
/* search section*/
.search-item {
  height: clamp(10.55rem, 35vw, 23.36rem);
  display: flex;
  align-items: flex-end;
  padding-left: 2.1rem;
  padding-bottom: 1.36rem;
  text-align: center;
}
.search-item a {
  z-index: 2;
  font-weight: 500;
  font-size: 1.09rem;
  line-height: 1.25;
  padding: 2px 5px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.42);
}
.search-item a::after {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.5rem;
  content: url("./../images/main/search-section/right-arrow.svg");
}

.ibg {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.ibg::after {
  z-index: 0;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.one-room {
  background-image: url("./../images/main/search-section/1flat.jpg");
}

.two-room {
  background-image: url("./../images/main/search-section/2flat.jpg");
}

.office {
  background-image: url("./../images/main/search-section/office.jpg");
}

.studio {
  background-image: url("./../images/main/search-section/studio.jpg");
}

/* / search rection */
.why-we__title {
  margin-top: 2.5rem;
}
.why-we__list {
  margin-top: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.64rem;
  justify-content: space-around;
}
.why-we__item {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  -moz-column-gap: 0.73rem;
       column-gap: 0.73rem;
  padding: 1rem 0.8rem;
  border: 1px solid #8d3500;
  border-radius: 0.73rem;
}
.why-we__image {
  grid-row: span 2;
}
.why-we__count {
  font-family: "Helios";
  font-style: normal;
  font-weight: 400;
  font-size: 2.18rem;
  line-height: 1.17;
  letter-spacing: 0.1em;
  color: #000000;
}
.why-we__estate {
  line-height: 1.18;
  color: #000000;
}
.why-we__text {
  margin-top: 1.3rem;
  line-height: 1.18;
  text-align: center;
  color: #000000;
}

.about-us__title {
  margin-top: 0.55rem;
}
.about-us__map {
  margin-top: 0.94rem;
}
.about-us__subtitle {
  margin-top: 2.09rem;
  font-weight: 500;
  font-size: 1.82rem;
  line-height: 1.2;
  text-align: center;
}
.about-us__form-description {
  margin-top: 0.55rem;
  font-weight: 300;
  font-size: 1.27rem;
  line-height: 1.21;
  text-align: center;
}
.about-us__form {
  margin-top: 0.55rem;
}
.about-us__form input {
  margin: 0 auto;
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  max-width: 320px;
  padding: 0.55rem 1.09rem;
  border: 0.509091px solid rgba(0, 0, 0, 0.25);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.18;
  color: rgba(0, 0, 0, 0.4);
}

.map__picture {
  width: 100%;
}
.map__description {
  margin-top: 0.55rem;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.09;
  text-align: center;
  color: #8d3500;
}

.form-request__button {
  margin-top: 1.85rem;
  padding-inline: 3.52rem;
  padding-block: 1.4rem;
  border-radius: 2.05rem;
}

.about-us-video {
  width: 100%;
  aspect-ratio: 16/9;
}

.floor-layout {
  background-image: url("./images/about-us-page/layout.jpg");
  background-size: cover;
}
.floor-layout img {
  width: 100%;
  max-width: 84.45rem;
}

.title-page {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

html,
body {
  height: 100%;
}

h1 {
  font-weight: 400;
  letter-spacing: 0.1em;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.footer {
  background-color: #562000;
}

.we-on-map img {
  width: 100%;
}