/*nullstyle*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/
@font-face {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500&display=swap");
}
@font-face {
  font-family: "Helios";
  src: local("Helios Regular"), local("Helios-Regular"), url("./../fonts/Helios/HeliosC.woff2") format("woff2"), url("./../fonts/Helios/HeliosC.woff") format("woff"), url("./../fonts/Helios/HeliosC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham Light"), local("Gotham-Light"), url("./../fonts/Gotham/Gotham-Light.woff2") format("woff2"), url("./../fonts/Gotham/Gotham-Light.woff") format("woff"), url("./../fonts/Gotham/Gotham-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham Medium"), local("Gotham-Medium"), url("./../fonts/Gotham/Gotham-Medium.woff2") format("woff2"), url("./../fonts/Gotham/Gotham-Medium.woff") format("woff"), url("./../fonts/Gotham/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Haettenschweiler Regular";
  src: url("./../fonts/Haettenschweiler/18324_haetten.eot");
  src: local("Haettenschweiler Regular"), local("Haettenschweiler-Regular"), url("./../fonts/Haettenschweiler/18324_haetten.woff") format("woff"), url("./../fonts/Haettenschweiler/Haettenschweiler-Regular.ttf") format("truetype"), url("./../fonts/Haettenschweiler/18324_haetten.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
/* Variables */
/* Breakpoints*/
html {
  font-size: 11px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.container {
  padding-inline: clamp(20px, 6.4vw, 149px);
  margin: 0 auto;
}
@media (min-width: 1150px) {
  .container {
    padding-inline: min(10.34vw, 149px);
  }
}

.button {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, #eb9562 0%, #e0cfa7 148.54%);
  box-shadow: 1.85106px 1.85106px 1.85106px rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 1.2;
}

.closed {
  display: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-family: "Helios";
  font-style: normal;
  font-weight: 400;
  font-size: 2.82rem;
  line-height: 1.16;
  letter-spacing: 0.1em;
  text-align: center;
  color: #8d3500;
}

/* Utility classes*/
.text-primary-400 {
  color: gray;
}

.text-accent-400 {
  color: tomato;
}

.fw-bold {
  font-weight: 700;
}

.fw-semi-bold {
  font-weight: 500;
}

.fw-bold {
  font-weight: 400;
}

.header {
  background-image: url("./../images/header/main-pict.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-padding-before: 1.64rem;
          padding-block-start: 1.64rem;
  text-align: center;
}

.header__top {
  margin-bottom: 1.36rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-family: "Haettenschweiler Regular";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(2.36rem, 8vw, 9.909rem);
  line-height: 1.154;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2.18rem;
}
.header .menu__icon {
  z-index: 9999;
  position: fixed;
  right: 20px;
  top: 31px;
  display: block;
  background-color: transparent;
}
@media (min-width: 1150px) {
  .header .menu__icon {
    display: none;
  }
}
.header .menu__list {
  display: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2.64rem;
  line-height: 1.172;
}
.header .menu__list * {
  color: #ffffff;
}
@media (min-width: 1150px) {
  .header .menu__list {
    display: flex;
    -moz-column-gap: clamp(2rem, 6.4vw, 6.64rem);
         column-gap: clamp(2rem, 6.4vw, 6.64rem);
  }
}
.header .menu__list._active {
  z-index: 9998;
  display: block;
  position: fixed;
  padding-top: 17px;
  padding-left: 21px;
  padding-right: 29px;
  top: 57px;
  right: -8px;
  height: calc(100% - 57px - 28px);
  background: rgba(255, 255, 255, 0.9);
  border-top-left-radius: 43.8464px;
  border-bottom-left-radius: 43.8464px;
  box-shadow: -8px -28px #562000, -8px 28px #562000;
  transition: left 2s ease;
  font-size: 1.45rem;
  line-height: 1.172;
}
.header .menu__list._active > li {
  border: 0.454106px solid #8d3500;
  border-radius: 8.17391px;
  padding: 5px 3px;
}
.header .menu__list._active > li + li {
  margin-top: 25px;
}
.header .menu__list._active a {
  color: #000000;
}
@media (min-width: 1150px) {
  .header .menu__list._active {
    display: none;
  }
}
.header__button {
  display: inline-block;
  padding-block: 1.64rem;
  padding-inline: 3.64rem;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 0.84rem;
  border-radius: 1.31rem;
  margin-bottom: 1.1rem;
}
@media (min-width: 1150px) {
  .header__button {
    font-size: 1.82rem;
    padding-block: 3.45rem;
    padding-inline: 8.18rem;
    border-radius: 2.82rem;
  }
}

/* search section*/
.search-item {
  height: clamp(10.55rem, 35vw, 23.36rem);
  display: flex;
  align-items: flex-end;
  padding-left: 2.1rem;
  padding-bottom: 1.36rem;
  text-align: center;
}
.search-item a {
  z-index: 2;
  background: rgba(255, 255, 255, 0.42);
  font-weight: 500;
  font-size: 1.09rem;
  line-height: 1.25;
  color: #ffffff;
}
.search-item a::after {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.5rem;
  content: url("./../images/main/search-section/right-arrow.svg");
}

.ibg {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.ibg::after {
  z-index: 0;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.one-room {
  background-image: url("./../images/main/search-section/1flat.jpg");
}

.two-room {
  background-image: url("./../images/main/search-section/2flat.jpg");
}

.office {
  background-image: url("./../images/main/search-section/office.jpg");
}

.studio {
  background-image: url("./../images/main/search-section/studio.jpg");
}

/* / search rection */
.why-we__title {
  margin-top: 2.5rem;
}
.why-we__list {
  margin-top: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.64rem;
  justify-content: space-around;
}
.why-we__item {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  -moz-column-gap: 0.73rem;
       column-gap: 0.73rem;
  padding: 1rem 0.8rem;
  border: 1px solid #8d3500;
  border-radius: 0.73rem;
}
.why-we__image {
  grid-row: span 2;
}
.why-we__count {
  font-family: "Helios";
  font-style: normal;
  font-weight: 400;
  font-size: 2.18rem;
  line-height: 1.17;
  letter-spacing: 0.1em;
  color: #000000;
}
.why-we__estate {
  line-height: 1.18;
  color: #000000;
}
.why-we__text {
  margin-top: 1.3rem;
  line-height: 1.18;
  text-align: center;
  color: #000000;
}

.about-us__title {
  margin-top: 0.55rem;
}
.about-us__map {
  margin-top: 0.94rem;
}
.about-us__subtitle {
  margin-top: 2.09rem;
  font-weight: 500;
  font-size: 1.82rem;
  line-height: 1.2;
  text-align: center;
}
.about-us__form-description {
  margin-top: 0.55rem;
  font-weight: 300;
  font-size: 1.27rem;
  line-height: 1.21;
  text-align: center;
}
.about-us__form {
  margin-top: 0.55rem;
}
.about-us__form input {
  margin: 0 auto;
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  max-width: 320px;
  padding: 0.55rem 1.09rem;
  border: 0.509091px solid rgba(0, 0, 0, 0.25);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.18;
  color: rgba(0, 0, 0, 0.4);
}

.map__picture {
  width: 100%;
}
.map__description {
  margin-top: 0.55rem;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.09;
  text-align: center;
  color: #8d3500;
}

.form-request__button {
  margin-top: 1.85rem;
  padding-inline: 3.52rem;
  padding-block: 1.4rem;
  border-radius: 2.05rem;
  color: #FFFFFF;
}

h1 {
  font-weight: 400;
  letter-spacing: 0.1em;
}

.footer {
  background-color: #562000;
}

.we-on-map img {
  width: 100%;
}