// Fonts
@font-face {
	font-family: "Montserrat", sans-serif;
	font-family: "Roboto", sans-serif;
	@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@400;500&display=swap");
}
@font-face {
	font-family: "Helios";
	src: local("Helios Regular"), local("Helios-Regular"), url("./../fonts/Helios/HeliosC.woff2") format("woff2"),
		url("./../fonts/Helios/HeliosC.woff") format("woff"), url("./../fonts/Helios/HeliosC.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	//  Light
	font-family: "Gotham";
	// , sans-serif
	src: local("Gotham Light"), local("Gotham-Light"), url("./../fonts/Gotham/Gotham-Light.woff2") format("woff2"),
		url("./../fonts/Gotham/Gotham-Light.woff") format("woff"),
		url("./../fonts/Gotham/Gotham-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	// Medium
	font-family: "Gotham";
	src: local("Gotham Medium"), local("Gotham-Medium"), url("./../fonts/Gotham/Gotham-Medium.woff2") format("woff2"),
		url("./../fonts/Gotham/Gotham-Medium.woff") format("woff"),
		url("./../fonts/Gotham/Gotham-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Haettenschweiler Regular";
	src: url("./../fonts/Haettenschweiler/18324_haetten.eot");
	src: local("Haettenschweiler Regular"), local("Haettenschweiler-Regular"),
		url("./../fonts/Haettenschweiler/18324_haetten.woff") format("woff"),
		url('./../fonts/Haettenschweiler/Haettenschweiler-Regular.ttf') format("truetype"),
		// url("./../fonts/Haettenschweiler/18324_haetten.ttf") format("truetype"),
		url("./../fonts/Haettenschweiler/18324_haetten.svg") format("svg");
	font-weight: 400;
	font-style: normal;

	// src: url(./../fonts/Haettenschweiler/Haettenschweiler-Regular.eot);

	// src: local("Haettenschweiler Regular"), local("Haettenschweiler-Regular"),
	// 	url(./../fonts/Haettenschweiler/Haettenschweiler-Regular.eot) format("embedded-opentype"),
		// url(./../fonts/Haettenschweiler/Haettenschweiler-Regular.woff) format("woff"),
	// 	url(./../fonts/Haettenschweiler/Haettenschweiler-Regular.woff2) format("woff2"),
	// 	url(./../fonts/Haettenschweiler/Haettenschweiler-Regular.ttf) format("truetype");
}
