.header {
	background-image: url("./../images/header/main-pict.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-block-start: 1.64rem;
	text-align: center;
}
.header {
	&__logo {
	}
	&__top {
		margin-bottom: 1.36rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		font-family: "Haettenschweiler Regular";
		font-style: normal;
		font-weight: 400;
		font-size: clamp(2.36rem, 8vw, 9.909rem); // adaptive fontsize
		line-height: 1.154;
		letter-spacing: 0.1em;
		text-align: center;
		color: #ffffff;
		margin-bottom: 2.18rem;
	}
	&__menu {
	}
	.menu {
		&__body {
		}
		&__icon {
			z-index: 9999;
			position: fixed;
			right: 20px;
			top: 31px;
			display: block;
			background-color: transparent;
			@include media-min($lg-screen) {
				display: none;
			}
		}
		&__list {
			display: none;
			font-family: "Roboto";
			font-weight: 400;
			font-size: 2.64rem;
			line-height: 1.172;
			& * {
				color: #ffffff;
			}
			@include media-min($lg-screen) {
				display: flex;
				column-gap: clamp(2rem, 6.4vw, 6.64rem);
				// justify-content: space-between;
			}
			&._active {
				z-index: 9998;
				display: block;
				position: fixed;
				padding-top: 17px;
				padding-left: 21px;
				padding-right: 29px;
				top: 57px;
				right: -8px;
				height: calc(100% - 57px - 28px);
				// inset: 0 30px 0 0;
				background: rgba(255, 255, 255, 0.9);
				border-top-left-radius: 43.8464px;
				border-bottom-left-radius: 43.8464px;
				box-shadow: -8px -28px #562000, -8px 28px #562000;
				// transform: rotate(-90deg);
				transition: left 2s ease;
				font-size: 1.45rem;
				line-height: 1.172;
				& > li {
					border: 0.454106px solid #8d3500;
					border-radius: 8.17391px;
					padding: 5px 3px;
				}
				& > li + li {
					margin-top: 25px;
				}
				& a {
					color: #000000;
				}
				@include media-min($lg-screen) {
					display: none;
				}
			}
		}
	}
	&__button {
		display: inline-block;
		padding-block: 1.64rem;
		padding-inline: 3.64rem;
		@include media-min($lg-screen) {
			font-size: 1.82rem; //20px
			padding-block: 3.45rem;
			padding-inline: 8.18rem;
			border-radius: 2.82rem;
		}
		//  clamp(18px, 6vw, 38px);
		// clamp(40px, 8vw, 90px);
		margin-top: 1rem;
		font-weight: 700;
		font-size: 0.84rem;
		border-radius: 1.31rem;
		margin-bottom: 1.1rem;
	}
}
