$breakpoints: (
  small: 412px,
  medium: 768px,
  large: 1024px
);

$font-sizes: 12 14 16 18 20 24 28 32 36 40;

@each $size in $font-sizes {
  .text-size-#{$size} {
    font-size: #{$size}px;
  }

  @each $name, $breakpoint in $breakpoints {
    @media(min-width: $breakpoint) {
      .text-size-#{$size}-#{$name} {
        font-size: #{$size}px;
      }
    }
  }
}