@import "./common";
@import "./main";
@import "./footer";
@import './utility-classes';



// font-family: 'Haettenschweiler Regular';
// font-family: 'Gotham'; // Light, Medium
// font-family: "Montserrat", sans-serif;
// font-family: "Roboto", sans-serif;
// font-family: "Helios";

h1 {
	// font-family: "Helios";
	font-weight: 400;
	letter-spacing: 0.1em;
}
.footer {
	background-color: #562000;
}
.we-on-map {
	& img {
		width: 100%;
	}
}
