@import "./nullstyle";
@import "./_fonts";
// font-family: 'Haettenschweiler Regular';
// font-family: 'Gotham'; // Light, Medium
// font-family: "Montserrat", sans-serif;
// font-family: "Roboto", sans-serif;
// font-family: "Helios";

body {
	font-family: "Haettenschweiler Regular";
	font-weight: 400;
}
h1 {
	font-family: "Gotham";
	font-weight: 300;
}
