.why-we-section {
}
.why-we {
	&__title {
		margin-top: 2.5rem;
	}
	&__list {
		margin-top: 1.3rem;
		display: flex;
		flex-wrap: wrap;
		row-gap: 1.64rem;
		justify-content: space-around;
	}

	&__item {
		display: grid;
		grid-template-columns: 0.4fr 1fr;
		grid-template-rows: 1fr 1fr;
		place-items: center;
		column-gap: 0.73rem;
		padding: 1rem 0.8rem;
		border: 1px solid #8d3500;
		border-radius: 0.73rem;
	}

	&__image {
		grid-row: span 2;
	}

	&__count {
		font-family: "Helios";
		font-style: normal;
		font-weight: 400;
		font-size: 2.18rem;
		line-height: 1.17; 
		letter-spacing: 0.1em;

		color: #000000;
	}

	&__estate {
		line-height: 1.18;
		color: #000000;
	}

	&__text {
		// font-weight: 300;
		// font-size: 11px;
		margin-top: 1.3rem;
		line-height: 1.18;
		text-align: center;

		color: #000000;
	}
}
