.about-us-section {
}
.about-us {
	&__title {
		margin-top: 0.55rem;
	}

	&__map {
		margin-top: 0.94rem;
	}

	&__subtitle {
		margin-top: 2.09rem;
		font-weight: 500;
		font-size: 1.82rem; //20px;
		line-height: 1.2; // 24px;
		text-align: center;
	}

	&__form-description {
		margin-top: 0.55rem;
		font-weight: 300;
		font-size: 1.27rem; //14px;
		line-height: 1.21; // 17px;
		text-align: center;
	}

	&__form {
		margin-top: 0.55rem;
		input {
			margin: 0 auto;
			margin-top: 0.5rem;
			display: block;
			width: 100%;
			max-width: 320px;
			padding: 0.55rem 1.09rem;
			border: 0.509091px solid rgba(0, 0, 0, 0.25);
			font-weight: 300;
			font-size: 1rem;
			line-height: 1.18;
			color: rgba(0, 0, 0, 0.4);
		}
	}
}

.map {
	&__picture {
		width: 100%;
	}
	
	&__description {
		margin-top: 0.55rem;
		font-weight: 500;
		font-size: 0.9rem;
		line-height: 1.09;
		text-align: center;

		color: #8d3500;
	}
}
.form-request {
	&__client-name {
	}

	&__flat-square {
	}

	&__rooms-amount {
	}

	&__client-tel {
	}

	&__client-mail {
	}

	&__button {
		margin-top: 1.85rem;
		padding-inline: 3.52rem;
		padding-block: 1.4rem;
		border-radius: 2.05rem;
		color: #FFFFFF;
	}
}
