/* Variables */
/* Breakpoints*/

html {
	font-size: 11px;
}
body {
	// прочитати про це
	text-rendering: optimizeSpeed;
	// -----
	font-family: $ff-body;
	font-weight: 300;
	font-size: 1rem;
	color: $clr-primary-400;
}

.container {
// обмежуємо ширину контейнера
	$padding: 2rem;
	$max-width: 131rem;
	width: min($max-width, 100% - $padding * 2);
	@include media-min($lg-screen) {
		// ширина контейнера при зміни ширини екрану
		$padding: 13.55rem;
		width: min($max-width, 100% - $padding * 2);
	}
// рівняємо по центру
	margin-inline: auto;
	&[data-type="about-us-page"] {
		text-align: center;
	}
	
}
// Ще один загальний класс від Кевіна
.even-columns {
	display: grid;
	gap: 1rem;
	@include media-min(50em) {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}
}

.button {
	cursor: pointer;
	display: block;
	margin-inline: auto;
	font-family: $ff-body;
	background: linear-gradient(90deg, $clr-accent-400 0%, $clr-accent-200 148.54%);
	box-shadow: 1.85106px 1.85106px 1.85106px rgba(0, 0, 0, 0.25);
	text-align: center;
	line-height: 1.2;
	color: $clr-primary-200;
	// Кевін
	border-radius: 100vmax; // кнопка буде у формі 'таблетки'
	// padding треба зробити налаштування з макету
	padding: 1em 2.5em; // тут просто середні налаштування, не точні ще
	
	&[data-type='header'] {
		background: linear-gradient(90deg, $clr-accent-400 0%, $clr-accent-200 148.54%);
	};
	
	&:hover, &:focus-visible {
		background: linear-gradient(90deg, $clr-accent-200 0%, $clr-accent-400 148.54%);
	};
}
.closed {
	visibility: hidden;
}
.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding: 0;
	margin: -1px;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	border: 0;
}
.section-title {
	font-family: $ff-secondary;
	font-style: normal;
	font-weight: 400;
	font-size: 2.82rem; // 31px;
	line-height: 1.16; // 36px;
	letter-spacing: 0.1em;
	text-align: center;

	color: $clr-accent-600;
}
/* Utility classes*/
// Ми визначаємо службові класи, які допоможуть
//  у подальшій роботі над проектом, щось по типу власного css-фреймворку

.text-primary-400 {
	color: $clr-primary-400;
}
.text-accent-400 {
	color: $clr-accent-400;
}
.fw-bold {
	font-weight: $fw-bold;
}
.fw-semi-bold {
	font-weight: $fw-semi-bold;
}
.fw-bold {
	font-weight: $fw-regular;
}
.bg-primary-500 {
}
.text-neutral-100 {
}
