/* Variables */
/* Breakpoints*/

html {
	font-size: 11px;
}
body {
	font-family: $ff-body;
	font-weight: 300;
	font-size: 1rem;
}
.container {
	padding-inline: clamp(20px, 6.4vw, 149px);
	margin: 0 auto;
	@include media-min($lg-screen) {
		padding-inline: min(10.34vw, 149px);
	}
}

.button {
	display: block;
	margin: 0 auto;
	font-family: $ff-body;
	background: linear-gradient(90deg, #eb9562 0%, #e0cfa7 148.54%);
	box-shadow: 1.85106px 1.85106px 1.85106px rgba(0, 0, 0, 0.25);
	text-align: center;
	line-height: 1.2;
	color: #FFFFFF;
}
.closed {
	display: none;
}
.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.section-title {
	font-family: $ff-secondary;
	font-style: normal;
	font-weight: 400;
	font-size: 2.82rem; // 31px;
	line-height: 1.16; // 36px;
	letter-spacing: 0.1em;
	text-align: center;

	color: #8d3500;
}
/* Utility classes*/
// Ми визначаємо службові класи, які допоможуть
//  у подальшій роботі над проектом, щось по типу власного css-фреймворку

.text-primary-400 {
	color: $clr-primary-400;
}
.text-accent-400 {
	color: $clr-accent-400;
}
.fw-bold {
	font-weight: $fw-bold;
}
.fw-semi-bold {
	font-weight: $fw-semi-bold;
}
.fw-bold {
	font-weight: $fw-regular;
}
.bg-primary-500 {
}
.text-neutral-100 {
}
