$breakpoints: (
	small: 412px,
	medium: 768px,
	large: 1024px,
);
$font-sizes: (
	100: 8,
	150: 9,
	200: 10,
	250: 11,
	300: 13,
	350: 15,
	400: 16,
	450: 18,
	500: 20,
	550: 24,
	600: 26,
	650: 30,
	700: 34,
	750: 40,
	800: 43,
	850: 50,
	900: 56,
	950: 60,
	980: 100,
	990: 109,
);
$font-weights: (400);

@each $size, $range in $font-sizes {
	.text-#{$size} {
		font-size: #{$range}px;
	}

	@each $name, $breakpoint in $breakpoints {
		@media (min-width: $breakpoint) {
			.text-#{$size}-#{$name} {
				font-size: #{$range}px;
			}
		}
	}
};

$displays: ("grid", "flex");
$justifies: ("center", "space-between", "space-around", "space-evenly", "right", "left", "end");
$aligns: ("center", "flex-end", "flex-start");

@each $display in $displays {
	.#{$display} {
		display: #{$display};
	}
	@each $justify in $justifies {
		.#{$display}-justify-#{$justify} {
			display: #{$display};
			justify-content: #{$justify};
		}
		@each $align in $aligns {
			.#{$display}-align-#{$align} {
				display: #{$display};
				align-items: #{$align};
			}
			.#{$display}-#{$justify}-#{$align} {
				display: #{$display};
				justify-content: #{$justify};
				align-items: #{$align};
				// align-items: ;
			}
		}
	}
};
// .flow{

// }
:where(.flow :not(:first-child)) {
	// Цей класс "поток" обирає всі єлементи вкладені в
	//  елемент цього класу, окрім першого
	margin-top: $flow-spacer; 
	// додати за допомогою атрибуту інший стиль потоку
	&[data-spacing="100"] {
		$flow-spacer: 0.2rem;
		margin-top: $flow-spacer;
		// outline: solid 2px yellowgreen;
	}
	&[data-spacing="300"] {
		$flow-spacer: 1.64rem;
		margin-top: $flow-spacer;
		// outline: solid 2px yellowgreen;
	}
};
