$clr-primary-400: #000000;
$clr-primary-200: #FFFFFF;
$clr-accent-600: #8d3500;
$clr-accent-400: #eb9562;
$clr-accent-200: #e0cfa7;
// 1 визначаємо змінні для шрифтів
// 1.1 font family
$ff-primary: "Montserrat", sans-serif;
$ff-secondary: "Helios";
$ff-other-light-semibold: "Gotham";
$ff-other-regular: "Haettenschweiler Regular";

$ff-body: $ff-primary;

$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 800;

// робимо систему зміннмх для зручності подальшого використання
$fs-300: 1rem;
$fs-400: 1.2rem;
$fs-500: 2rem;
$fs-600: 2.5rem;
$fs-700: 3rem;
// визначаємо розмір шрифта у секціях через систему змінних
$fs-body: $fs-400;
$fs-primary-heading: $fs-700;
$fs-secondary-heading: $fs-600;

$fs-nav: $fs-500;
$fs-buttton: $fs-400;
$lg-screen: 72; //em, 1150px
$flow-spacer: 2.36rem; //26px

@include media-min($lg-screen) {
	// змнінюємо розмір шрифта тільки у медіа запросах
	$fs-400: 1.5rem;
	$fs-500: 2rem;
	$fs-body: $fs-500;
	$fs-nav: $fs-600;
	$fs-primary-heading: $fs-700;
	$fs-secondary-heading: $fs-600;
}
/* experimental */
// assume min-width (by default) if only a number
$high-tide: 500px;
// set min-width/max-width if both values are numbers
$ex-presidents: 600px 800px;
// if one value is a string, assume a feature/value pair
$surfboard-width: max-width 1000px;
// string tests together within parentheses, assume each item is a feature value pair
$surfboard-height: (min-height 1000px) (orientation portrait);

// .nixon {
// 	@include breakpoint($ex-presidents) {
// 		content: "Ex-Presidents";
// 	}
// }
/*  / experimental */
